# Urban Informatics
# Module 03: Intro to pandas, Part I

In [ ]:
import numpy as np
import pandas as pd

## 1. Introduce numpy arrays

In [ ]:
# a python list is a basic data type
my_list = [1, 2, 3, 4]
my_list

In [ ]:
# a numpy array is like a list, but faster and more compact
my_array = np.array([1, 2, 3, 4])
my_array

In [ ]:
# you can create a numpy array from an existing list too
my_array = np.array(my_list)
my_array

In [ ]:
rain_list = [5.3, 5.4, 4.8, 4.7, 3.3, 1.2, 0.8, 0.0, 0.2, 3.9, 4.5, 5.9]
rain = np.array(rain_list)

In [ ]:
type(rain)

In [ ]:
rain.dtype

numpy has several mathematical functions built-in. Here are some examples.

In [ ]:
np.mean(rain)

In [ ]:
round(np.mean(rain), 1)

In [ ]:
np.std(rain)

In [ ]:
np.var(rain)

In [ ]:
np.median(rain)

In [ ]:
np.min(rain)

In [ ]:
np.max(rain)

In [ ]:
np.sum(rain)

In [ ]:
# look at the original rainfall list
rain_list

In [ ]:
# multiply it by two
rain_list * 2

In [ ]:
# look at the rainfall array
rain

In [ ]:
# multiply it by two 
rain * 2

## 2. Introduce pandas Series

In [ ]:
# a pandas series is based on a numpy array - it's fast, compact, and has more functionality
# perhaps most notably, it has an index
my_list = [1, 2, 3, 4]
my_series = pd.Series(my_list)
my_series

In [ ]:
# you can create a new Series by passing in a list variable or array
# a series can contain data types other than just integers
series2 = pd.Series(['a', 'b', 'c', 'd'])
series2

In [ ]:
series2.index

In [ ]:
series2.values

In [ ]:
type(series2.values)

In [ ]:
# you can change a series's index
series2.index = ['w', 'x', 'y', 'z']
series2

## 3. Introduce pandas DataFrames

In [ ]:
# a pandas dataframe is like a table where each column is a series
df = pd.DataFrame([1, 2, 3, 4])
df

this is a one-dimensional (i.e., one-column) DataFrame... it's similar to a Series

In [ ]:
# a dict can contain multiple lists and label them
my_dict = {'variable_a':[1, 2, 3, 4], 'variable_b':[5, 6, 7, 8]}
my_dict

In [ ]:
# a pandas dataframe can contain multiple columns/series
# you can create a dataframe by passing in a list, array, series, or dict
df = pd.DataFrame(my_dict)
df

In [ ]:
# the row labels in the index are accessed by the .index attribute of the DataFrame object
df.index

In [ ]:
df.index.tolist()

In [ ]:
# the column labels are accessed by the .columns attribute of the DataFrame object
df.columns

In [ ]:
# the data values are accessed by the .values attribute of the DataFrame object
df.values

In [ ]:
# make sure your indices match!
dict2 = {'column1':my_series, 'column2':series2}
df = pd.DataFrame(dict2)
df

In [ ]:
# numpy offers a useful datatype called NaN for null values, used in pandas
x = np.nan
print(type(x))
x

## 4. Working with CSV files

Notice what pandas's `read_csv` function does:

1. recognize the header row and get its variable names
1. read all the rows and construct a pandas DataFrame, an assembly of pandas Series
1. construct a unique index, beginning with zero
1. infer the data type of each variable (ie, column)

In [ ]:
# pandas can load CSV files as DataFrames - it pulls column labels from the first row of the data file
df = pd.read_csv('data/rain.csv') # path relative to notebook file
df

In [ ]:
# dataframe shape as rows, columns
df.shape

In [ ]:
# datatypes of the columns
df.dtypes

#### We can select subsets of the rows by indexing, and select specific columns by their name:

In [ ]:
# a column is a pandas series
type(df['rainfall_inches'])

In [ ]:
# so is a row
type(df.loc[0])

In [ ]:
# view a column
df['rainfall_inches']

In [ ]:
# sort the values
df.sort_values(by='rainfall_inches', ascending=False)

In [ ]:
# view the "head" of the dataframe
df.head()

In [ ]:
# or view its "tail"
df.tail()

In [ ]:
# first 6 items in a column
df['rainfall_inches'][:6]

In [ ]:
# final 6 rows in a dataframe
df[6:]

In [ ]:
# summary descriptive stats
df['rainfall_inches'].describe()

It silently handles the missing value for September and gave the correct statistical results. These are essentially Numpy functions, but in pandas we can now deal with multiple data types and columns.

In [ ]:
df['rainfall_inches'].min()

In [ ]:
df['rainfall_inches'].max()

In [ ]:
df['rainfall_inches'].idxmax()

In [ ]:
df['rainfall_inches'].median()

In [ ]:
df['rainfall_inches'].mean()

In [ ]:
df['rainfall_inches'].std()

In [ ]:
# now it's your turn
# how would you compute the total rainfall inches between march and august?

#### More DataFrame functionality

In [ ]:
# load a new data file
df2 = pd.read_csv('data/cities.csv')

In [ ]:
df2.shape

In [ ]:
# you can view the first few or the last few rows of a DataFrame with the .head() or .tail() methods
df2.head(4)

In [ ]:
# you can add a new (empty) column to a DataFrame
df2['country'] = np.nan
df2

In [ ]:
# you can update the values of an entire column all at once
df2['country'] = 'USA'
df2

In [ ]:
# you can set the values of a column (aka, Series) in the DataFrame to a list of values
df2['country'] = ['USA', 'United States'] * 4
df2

In [ ]:
# you can use fast vectorized methods on a pandas series (aka, a column in our dataframe)
df2['country'].str.replace('United States', 'USA')
df2

That didn't do anything to our dataframe because .str.replace() returns the updated version - it doesn't perform the operation in place

In [ ]:
# we need to capture the updated values when they get returned
df2['country'] = df2['country'].str.replace('United States', 'USA')
df2

In [ ]:
# you can change the column names
df2.columns = ['city_name', 'state_name', 'nation']
df2

In [ ]:
# or just rename a single column, passing a dict into the rename() method
df2 = df2.rename(columns={'city_name':'city'})
df2

In [ ]:
df2.drop(columns=['nation'])

In [ ]:
# you can save your DataFrame as a csv file
df2.to_csv('data/my_new_dataset.csv')

In [ ]:
# now it's your turn
# rename all the columns to new names and save to disk as a new file

### Filtering on values

You can easily filter a dataframe for one or more conditions based on the values in a column. Below we filter df to select only months with less than 3 inches of rainfall.

In [ ]:
df[df['rainfall_inches'] < 3]

In [ ]:
# what exactly did that do?
df['rainfall_inches'] < 3

In [ ]:
# essentially a true/false mask that filters by value
mask = df['rainfall_inches'] < 3
df[mask]

In [ ]:
pd.isnull(df)

In [ ]:
pd.notnull(df['rainfall_inches'])

You can also select rows based on the values of more than one column. Just remember to nest the individual conditions within parentheses.

In [ ]:
df[(df['month'] != 'jul') & (pd.notnull(df['rainfall_inches']))]

What's that funny ampersand doing there? We'll learn more next week!

In [ ]:
# now it's your turn
# what is the average rainfall in months with at least 2 inches of rain?

### Editing strings and changing data types

In [ ]:
df['rainfall_inches']

In [ ]:
# count non-nan cells
df['rainfall_inches'].count()

In [ ]:
# count all cells, including nans
len(df['rainfall_inches'])

In [ ]:
df['rainfall_inches'].astype(int)

In [ ]:
# fill missing values with a default value (or you could drop them instead!)
df['rainfall_inches'] = df['rainfall_inches'].fillna(0)

In [ ]:
# now convert to int
df['rainfall_inches'].astype(int)

In [ ]:
# remember to re-assign to capture the output!
df['rainfall_inches'] = df['rainfall_inches'].astype(int)

In [ ]:
df[df['month'].str.contains('j')]

In [ ]:
# you can do stats on a filtered subset
df[df['month'].str.contains('j')]['rainfall_inches'].mean()

In [ ]:
df = pd.DataFrame({'price' : ['$10.00', '$5.53', '7 dollars'], 'store' : ['CVS', 'Walgreens', 'CVS']})
df

In [ ]:
df['store'].unique()

In [ ]:
df['price'].astype(float)

In [ ]:
df['price'] = df['price'].str.replace('$', '').str.replace('dollars', '').str.strip()
df

In [ ]:
df['price'].astype(float)